/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
*/

.league-spartan-normal {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}

.league-spartan-large {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}

.league-spartan-thin {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}
